.cart-view {
  border-right: 1px solid #efefef;
}
.cart-content__item {
  display: flex;
  font-size: 1.6rem;
  border-bottom: 1px solid #eaeaea;
}
.img-cart {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.link-title {
  color: #343a40;
  text-decoration: none;
  transition: 0.2s;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.text-danger {
  color: #dc3545 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.product-price-origin {
  font-size: 1rem;
  text-decoration: line-through;
  font-weight: normal;
  color: #a7a7a7;
}
.text-dark {
  color: #343a40 !important;
}
.text-info {
  color: #17a2b8 !important;
}
.text-sm {
  font-size: 1.6rem !important;
}

p {
  margin-top: 0;
  margin-bottom: 1.2rem;
}
.btn-light {
  cursor: pointer;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.text-right {
  text-align: right !important;
}
.text-sm p {
  display: flex;
}
.payment-detail > p > * {
  display: block;
  flex-basis: 50%;
}
.payment-view {
  font-size: 1.8rem;
}
/* CSS Pay */
label {
  display: inline-block;
  margin-bottom: 1.6rem;
}
.form-group {
  margin-bottom: 2.6rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.img-fluid {
  max-width: 90%;
  height: auto;
}
.cart-item-title-quantity {
  padding-left: 1rem;
}
.cart-item {
  padding-bottom: 15px;
}
.cart-pay {
  padding-top: 15px;
}
.offset-4 {
  margin-left: 33.333333%;
}
.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.text-center {
  text-align: center !important;
}
