* {
  /* kế thừa giá trị , giúp đơn giản hóa quá trình thiết kế và bảo trì các phần tử trang web */
  box-sizing: inherit;
}
html {
  /* tương ứng = 10px */
  font-size: 62.5%;
  /* độ cao chữ mặc định 16px */
  line-height: 1.6rem;
  /* font chữ ( chủng sans-serif : chữ ko có chân) */
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* responsive */

.grid {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}
/* nếu ko dùng width 1200 px thì dùng full width */
.grid__full-width {
  width: 100%;
}
/* những thẻ nằm trong class này sẽ nằm trên một hàng ngang */
.grid__row {
  display: flex;
  /* tổng độ dài vượt quá cha sẽ bị nhảy xuống dòng*/
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.67%;
}
.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.grid__column-6 {
  padding-left: 5px;
  padding-right: 5px;
  width: 50%;
}

.grid__column-2-8 {
  padding-left: 5px;
  padding-right: 5px;
  width: 80%;
}
.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.33%;
}
.grid__column-12 {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  /* position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; */
}
.col-md-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
@media (min-width: 768px) {
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
