/* Header */
.header__nav-banner {
  text-decoration: none;
}
.header__nav-banner-img {
  width: 100%;
}
.header__logo-link-img {
  width: 300px;
}
.header__with-search {
  display: flex;
  align-items: center;
  margin: 0 8px;
  box-shadow: 2px 2px #ccc;
}
.header__search {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #fba31a;
}
.header__search-input {
  flex: 1;
  width: 100%;
  position: relative;
  height: 100%;
}
.header__search-input-text {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text--color);
  padding: 0 16px;
  border-radius: 3px;
}
/* Form hien thi danh sach khi tim kiem */
.header__search-menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: calc(100% - 16px);
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px #666;
  z-index: 10;
  display: none;
}
.header__search-menu-heading {
  margin: 8px 12px;
  font-size: 1.4rem;
  color: #888;
  font-weight: 400;
}

.header__search-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}
.header__search-list-item {
  height: 38px;
  padding: 0 12px;
}
.header__search-list-item:hover {
  background-color: #007bff;
}
.header__search-list-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #212121;
  line-height: 38px;
}

.header__search-input-text:focus ~ .header__search-menu {
  display: block;
}

/* End form */
.header__search-btn {
  height: 40px;
  border: none;
  background-color: #fba31a;
  cursor: pointer;
  border-radius: 3px;
  width: 60px;
  outline: none;
}
.header__search-btn-icon {
  font-size: 1.4rem;
  color: #fff;
}
.header__info {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  font-size: 1.8rem;
}

.header__info-link {
  position: relative;
  text-decoration: none;
  color: #fba31a;
}
.header__info-log-wrap-icon:hover .header__info-menu {
  display: block;
}
.header__info-link:hover {
  color: #ffc266;
}
.header__info-menu {
  position: absolute;
  z-index: 1;
  padding-left: 0;
  /* top: calc(100% + 4px); */
  /* right: 0; */
  background-color: #ffffff;
  border-radius: 2px;
  width: 160px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}
.header__info-menu::after {
  content: "";
  display: block;
  position: absolute;
  top: -22px;
  /* right: 0; */
  width: 60%;
  height: 26px;
  /* background-color: red; */
}
.header__info-item {
  display: flex;
}
.header__info-notify-wrap-icon {
  position: relative;
}
.header__info-item-link {
  text-decoration: none;
  color: #545454;
}
.header__info-item span {
  font-size: 1.4rem;
  padding: 8px 16px;

  display: inline-block;
}

/* Thong bao */
.header__notification {
  position: absolute;
  top: 118%;
  right: 0;
  width: 370px;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotify ease-in 0.25s;
  will-change: opacity, transform;
  display: none;
  z-index: 1;
}
.header__notification-head {
  height: 40px;
  background-color: #fff;
}
.header__notification-head h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
}
.header__notification-item--viewed {
  background-color: rgba(238, 75, 43, 0.1);
}
.header__notification-item {
  display: flex;
}
.header__notification-item:hover {
  background-color: #f7f7f7;
}
.header__notification-link {
  display: flex;
  padding: 12px;
  width: 100%;
  text-decoration: none;
}
.header__notification-img {
  width: 48px;
  object-fit: contain;
}
.header__notification-info {
  margin-left: 12px;
}
.header__notification-list {
  padding-left: 0;
  height: 50vh;
  overflow-y: auto;
}
.header__notification-name {
  display: block;
  font-size: 14px;
  color: #34363e;
  margin-bottom: 8px;
}
.header__notification-descrio {
  display: block;
  font-size: 12px;
  color: #ccc;
}
.header__info-notify-wrap-icon:hover .header__notification {
  display: block;
}
.header__notification-footer {
  display: flex;
}
.header__notification-btn {
  text-decoration: none;
  color: #34363e;
  width: 100%;
  padding: 8px 0px;
  text-align: center;
}
.header__notification::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -10px;
  width: 90px;
  height: 20px;
}
/* Gio Hang */
.header-cart-list {
  position: absolute;
  top: calc(100% + 12px);
  right: 0px;
  background-color: #fff;
  width: 350px;
  border-radius: 3px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  cursor: default;
  z-index: 2;
}
.header-no-cart-img {
  width: 100%;
  height: 175px;
  /* display: none; */
}
.header-cart-list-no-cart-msg {
  display: block;
  font-size: 1.6rem;
  text-align: center;
}
.header-cart-notice {
  position: absolute;
  padding: 1px 4px;
  background-color: #f5f5f5;
  color: #ef8400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border: 2px solid #ee4d2d;
  border-radius: 10px;
  top: -50%;
  left: -10%;
}
/* .header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
} */
.header__info-cart-wrap-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.header__info-cart-wrap-icon:hover .header-cart-list {
  display: block;
}
.header-cart-list::after {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  right: 0;
  width: 26%;
  height: 26px;
  /* background-color: red; */
}
/* List item cart */
.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  height: 50vh;
  overflow-y: auto;
}
.header__cart-item {
  display: flex;
  align-items: center;
}
.header__cart-img {
  width: 40px;
  height: 40px;
  margin: 12px;
  border: 1px solid #ccc;
}
.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item-name {
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  margin: 0;
  font-weight: 400;
  color: var(--text--color);
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}
.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary--color);
}
.header__cart-item-multiply {
  font-size: 1rem;
  margin: 0 4px;
  color: #757575;
}
.header__cart-item-quantity {
  font-size: 1.2rem;
  font-weight: 400;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.header__cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}
.header__cart-item-remove {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Container */

.app__content {
  padding-top: 36px;
}

.category {
  border-radius: 2px;
  position: relative;
}

.category__heading {
  font-size: 1.8rem;
  color: #fffdf5;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0;
  background-color: #ef8400;
}

.category__list {
  list-style: none;
  padding-left: 0;
  margin-left: 12px;
}

.category__item-link {
  position: relative;
  font-size: 1.6rem;
  color: var(--text--color);
  text-decoration: none;
  display: block;
  padding: 14px 16px;
  transition: right linear 0.1s;
  right: 0;
}

.category__item-link:hover {
  background-color: #e5f5ff;
  color: #fba31a;
}
/* Tạo hình mũi tên */
.category__item-active .category__item-link::before {
  position: absolute;
  top: 50%;
  left: 4px;
  content: "";
  border: 4px solid;
  transform: translateY(-50%);
  border-color: transparent transparent transparent #707070;
}

/* form hiển thị các thể loại */
@media (min-width: 992px) {
  li.has-submenu:hover .megasubmenu {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 100;
  }
}
@media (min-width: 992px) {
  .megasubmenu {
    left: 97%;
    top: 0px;
    min-height: 100%;
    min-width: 500px;
    box-shadow: 2px 2px 2px 0px #e2e2e2;
  }
}

@media (min-width: 992px) {
  .dropdown-menu {
    margin: 0;
  }
}

.submenu-item-list {
  font-size: 1.6rem;
  list-style: none;
  padding: 0;
}
.submenu-item-list li {
  padding: 0.6rem;
}
.megasubmenu {
  padding: 20px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  border-radius: 0;
  border: 0;
  z-index: 0;
}
.dropdown-menu {
  position: absolute;
  /* top: 100%;
  left: 0; */
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0rem 3.5rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.submenu-item {
  padding: 20px;
}

/* .category__item:hover .category__item-active-submennu.dropdown-menu {
  display: block;
} */
.category__item:last-child::after {
  content: "";
  display: block;
  position: absolute;
  top: 100px;
  right: -40px;
  width: 30%;
  height: 35px;
}
.category__item:first-child::after {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  right: -40px;
  width: 30%;
  height: 35px;
}

.content__slide {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.content__slide-img {
  width: 100%;
}
/* slide */

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* end slide */
.menu-list-item a {
  text-decoration: none;
  color: #545454;
}

/* Footer */
.footer-info {
  flex: 1;
  justify-content: center;
  background-color: #3c3c3c;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.footer__letter {
  border-radius: 2px;

  height: 80px;
  display: flex;
  align-items: center;
}
.text-letter {
  font-size: 1.8rem;
  color: #f5f5f5;
  padding-right: 50px;
}
.footer__input {
  /* flex: 1;
  width: 100%; */
  width: 40%;
  position: relative;
  height: 40px;
}
.footer__input-text {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text--color);
  padding: 0 16px;
}
.footer-btn {
  height: 40px;
  border: none;
  background-color: #fba31a;
  cursor: pointer;
  font-size: 1.8rem;
  width: 80px;
  outline: none;
}
.certificate-img {
  height: 55px;
  width: 155px;
}
.footer-helps {
  display: flex;
}
.footer-service {
  display: flex;
  justify-content: space-evenly;
}
.service-info__heading {
  font-size: 1.8rem;
}
footer a {
  text-decoration: none;
  color: #212121;
  transition: 0.2s;
  font-size: 1.6rem;
  font-weight: 300;
}
.footer-license-text {
  font-size: 1.6rem;
  color: #8e8e8e;
  font-weight: 300;
}
/* Login */
.home-list {
  font-size: 1.6rem;
  background: transparent;
  margin-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  list-style: none;
  border-radius: 0.25rem;
}
.home-item a {
  text-decoration: none;
  color: #3082ff;
}
.home-item a:hover {
  color: red;
  text-decoration: underline;
}
.home-item + .home-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
  content: "/";
}
.content-main {
  padding-top: 30px;
}
.home-main {
  background-color: #fff;
  width: 1300px;
}
#form-login {
  font-size: 1.8rem;
  text-align: center;
}
.home-login {
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1,
.login-form-2 {
  padding: 3%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1,
.login-form-2 h3 {
  text-align: center;
  font-size: 2.8rem;
}
.home-login form {
  padding: 10% 10% 0;
}

/* Product */

.product-item:nth-child(n + 11) {
  display: none;
}

.product-content {
  width: 100%;
}
.product-content-left {
  display: flex;
  width: 50%;
}
.product-content-right {
  font-size: 1.6rem;
  width: 50%;
  padding-left: 20px;
}
.product-content-left-big-img {
  width: 80%;
  padding-right: 20px;
}
.product-content-left-big-img img {
  height: 80%;
  width: 100%;
}
.product-content-left-small-img {
  width: 20%;
}
.product-content-left-small-img img {
  width: 85%;
  padding-bottom: 10px;
}
.product-list {
  padding: 15px;
}
.product-list-item {
  margin-bottom: 20px;
}
.product-content-right-product-name a {
  text-decoration: none;
  background-color: transparent;
  color: #ef8400;
}
.product-content-right-product-name a:hover {
  text-decoration: underline;
}
.product-content-right-product-info {
  display: flex;
  color: #787878;
}
.product-info-rating {
  color: #da4c10;
}
.display-number {
  display: inline-block;
  margin-right: 4px;
  font-weight: 500;
  color: #000;
}
.mr-10 {
  margin-right: 10px;
  border-right: 1px solid #e3e3e3;
  padding-right: 8px;
}
.product-content-right-product-price {
  font-weight: 500;
  font-size: 3.6rem;
  color: #ff7600;
}
.product-list-item strong {
  color: rgb(255, 0, 0);
}
.catalog-product-details-discount {
  display: flex;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.product-view-quantity-box span {
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 8px;
  margin-bottom: 0;
  line-height: 42px;
}
.product-view-quantity-box-block {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  border: 1px solid #c1c1c1;
}
.product-view-quantity-box-block a {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.product-view-quantity-box-block #qty,
.product-view-quantity-box-block .qty {
  border: none !important;
  width: 3em !important;
  font-weight: 650;
  font-size: 1.2em;
  text-align: center;
  outline: none;
}
.form-control {
  display: block;
  width: 95%;
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.transport-address {
  display: flex;
  font-size: 1.6rem;
}
.transport-province {
  margin-right: 20px;
}
.product-cash-btn {
  display: flex;
  font-size: 1.8rem;
  padding-top: 10px;
}
.product-cash-btn button.btn-add-to-cart {
  border-color: #ef8400;
  color: #ef8400;
  margin-right: 20px;
  cursor: pointer;
}
.product-cash-btn button {
  border-radius: 20px;
  border: 2px solid;
  background: #fff;
  padding: 10px;
}
.width-35 {
  width: 35%;
}
.product-cash-btn button.btn-order {
  background-color: #ef8400;
  color: #fff;
  border-color: #ef8400;
  cursor: pointer;
}
