<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Của Tài</title>
    <link rel="stylesheet" href="../assets/css/gridAdmin.css" />
    <link rel="stylesheet" href="../assets/css/mainAdmin.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/grid.css" />
    <link rel="stylesheet" href="../assets/css/base.css" />

    <link
      href="https: //fonts.googleapis.com/css2? family = Roboto: wght @ 300; 400; 500; 700 & display = swap "
      rel=" stylesheet "
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="app">
      <!-- Header -->

      <!-- Container -->
      <div class="container">
        <!-- Sidebar -->
        <div class="sideBar">
          <div class="sideBar_wrapper fixed">
            <ul class="sideBar_list">
              <li class="sideBar_item">
                <a
                  href="MainAdmin.html"
                  title="Tổng quan"
                  id="tongQuan"
                  class="sideBar_item-link"
                >
                  <i class="fa-solid fa-house"></i>
                  <span class="text sideBar_item-text">Tổng quan</span>
                </a>
              </li>

              <li class="sideBar_item">
                <a href="SanPham.html" id="course" class="sideBar_item-link">
                  <i class="fa-solid fa-road"></i>
                  <span class="text sideBar_item-text">Sản phẩm</span>
                </a>
              </li>

              <li class="sideBar_item">
                <a href="HoaDonBan.html" id="blog" class="sideBar_item-link">
                  <i class="fa-solid fa-newspaper"></i>
                  <span class="text sideBar_item-text">Hóa đơn bán</span>
                </a>
              </li>
              <li class="sideBar_item">
                <a href="HoaDonBan.html" id="blog" class="sideBar_item-link">
                  <i class="fa-solid fa-newspaper"></i>
                  <span class="text sideBar_item-text">Thống kê</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Content -->
        <div
          ng-app="AppBanHang"
          ng-controller="ThongKeCtrl"
          id="content"
          class="content"
        >
          <div class="grid">
            <div class="title">
              <h3>Thống kê</h3>
            </div>
            <div class="row">
              <div class="col l-4">
                <div class="mt-4">
                  <form
                    name="form-course"
                    class="row needs-validation"
                    method="POST"
                  >
                    <input
                      type="hidden"
                      class="form-control"
                      id="bookID"
                      name="bookID"
                      value="0"
                    />

                    <div class="col l-12 mt-12">
                      <label for="name" class="form-label">Từ ngày</label>
                      <input
                        type="datetime-local"
                        class="form-control"
                        id="from_date"
                      />
                    </div>

                    <div class="col l-12 mt-12">
                      <label for="image" class="form-label">Đến ngày</label>
                      <input
                        type="datetime-local"
                        class="form-control"
                        id="to_date"
                      />
                    </div>

                    <div class="col l-12 mt-12">
                      <button
                        id="btn-course"
                        class="btn btn-primary"
                        type="submit"
                      >
                        Lưu
                      </button>
                    </div>
                  </form>
                </div>
              </div>

              <div class="col l-8">
                <div class="mt-4">
                  <div class="header__search">
                    <div class="header__search-input">
                      <input
                        type="text"
                        class="header__search-input-text"
                        placeholder="Tìm kiếm ở đây"
                        ng-model="searchTerm"
                      />

                      <!-- <div class="header__search-menu">
                        <h4 class="header__search-menu-heading">
                          Kết quả tìm kiếm
                        </h4>
                        <ul class="header__search-list">
                          <li
                            class="header__search-list-item"
                            ng-repeat="b in listItem.data"
                          >
                            <a href="/product.html?id={{b.bookID}}"
                              >{{b.title}}</a
                            >
                          </li>
                        </ul>
                      </div> -->
                    </div>
                    <button class="header__search-btn">
                      <i
                        class="header__search-btn-icon fa-solid fa-magnifying-glass"
                      ></i>
                    </button>
                  </div>

                  <form name="container-form" action="">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Ngày đặt</th>
                          <th scope="col">Thanh toán</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr class="course-item" ng-repeat="x in listItem">
                          <!-- <td>
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value="{{x.bookID}}"
                                name="bookIds[]"
                              />
                            </div>
                          </td> -->
                          <th scope="row">
                            {{ $index + (listItem.page > 1 ? index =
                            (listItem.page - 1) * 10 + 1 : index = 1 )}}
                          </th>
                          <td>{{formatDate(x.orderDate)}}</td>
                          <td>{{x.totalAmount}}</td>
                        </tr>

                        <!-- <tr>
                                                        <td colspan='5' class='text-center'>Bạn chưa đăng khóa học nào.
                                                        </td>
                                                    </tr> -->
                      </tbody>
                    </table>
                  </form>
                </div>

                <div class="padding-box">
                  <div class="box-sum">
                    <div class="box-left">
                      Số lượng hóa đơn :
                      <span id="soluong">{{listItem.totalItems}}</span>
                    </div>
                    <div class="box-left">
                      Tổng Tiền:
                      <span id="tongtien">{{totalAmountSum }}</span>
                    </div>
                    <div class="box-right">
                      <button class="btn-primary">
                        <i class="fas fa-angle-left"></i>
                      </button>
                      <div class="navigation">
                        <!-- <button data-id="1" class="btn-primary">1</button>
                                                <button data-id="2" class="btn-primary">2</button>
                                                <button data-id="3" class="btn-primary">3</button>
                                                <button data-id="4" class="btn-primary">4</button> -->
                      </div>
                      <button class="btn-primary">
                        <i class="fas fa-angle-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Start Footer -->
      <footer class="app_footer">
        <div class="grid">
          <div class="footer-info">
            <div class="footer__letter">
              <div class="text-letter">
                <span>
                  <i
                    style="padding-right: 5px"
                    class="fa-solid fa-envelope"
                  ></i>
                  ĐĂNG KÝ NHẬN BẢN TIN
                </span>
              </div>
            </div>

            <div class="footer__input">
              <input type="gmail" class="footer__input-text" placeholder="" />
            </div>
            <button class="footer-btn">Đăng ký</button>
          </div>
          <div class="footer-helps">
            <div class="grid__column-2-4">
              <a href="" class="header__logo-link">
                <img
                  src="https://pibook.vn/upload/logo-trong-suot%202.png"
                  alt=""
                  class="header__logo-link-img"
                />
              </a>
              <p style="font-size: 1.6rem; font-weight: 300">
                Thanh Xuân - Hà Nội
                <br />
                GPKD: 0105990058
              </p>
              <a href="" class="certificate">
                <img
                  class="certificate-img"
                  src="https://pibook.vn/resource/images/dat-thong-bao.png"
                  alt=""
                />
              </a>
              <p class="footer-icon">
                <a href="" class="btn btn-facebook"
                  ><i class="fa-brands fa-facebook"></i
                ></a>
                <a href="" class="btn btn-instagram"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
                <a href="" class="btn btn-youtube"
                  ><i class="fa-brands fa-youtube"></i
                ></a>
                <a href="" class="btn btn-twitter"
                  ><i class="fa-brands fa-twitter"></i
                ></a>
              </p>
            </div>
            <div class="grid__column-2-8">
              <div class="footer-service">
                <div class="service-info">
                  <h4 class="service-info__heading">Dịch vụ</h4>
                  <p><a href="">Điều khoản sử dụng</a></p>
                  <p><a href="">Chính sách bảo mật</a></p>
                  <p><a href="">Giới thiệu Pibook</a></p>
                </div>
                <div class="serice-info">
                  <h4 class="service-info__heading">Hỗ trợ</h4>
                  <p><a href="">Điều khoản sử dụng</a></p>
                  <p><a href="">Chính sách bảo mật</a></p>
                  <p><a href="">Giới thiệu Pibook</a></p>
                </div>
                <div class="serice-info">
                  <h4 class="service-info__heading">Tài khoản của tôi</h4>
                  <p><a href="">Điều khoản sử dụng</a></p>
                  <p><a href="">Chính sách bảo mật</a></p>
                  <p><a href="">Giới thiệu Pibook</a></p>
                </div>
                <div class="serice-info">
                  <h4 class="service-info__heading">Liên hệ</h4>
                  <p>
                    <a href="">
                      <i class="fa-solid fa-phone"></i>
                      Hotline: 024 6329 6389</a
                    >
                  </p>
                  <p>
                    <a href="">
                      <i class="fa-solid fa-envelope"></i>
                      Email: hotro@pibook.vn</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-license">
            <div class="footer-license-text">
              <p>© 2015 - Bản quyền của Công Ty TNHH PIBOOK</p>
              <p>
                Giấy chứng nhận Đăng ký Kinh doanh số 0105990058 do Sở Kế Hoạch
                và Đầu Tư Thành phố Hà Nội cấp ngày 14/09/2012
              </p>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </div>
    <script>
      var user = JSON.parse(localStorage.getItem("userID"));
      if (!user) {
        window.location.href = "../login";
      }
    </script>
    <!-- <script src="../assets/js/angular.js"></script>
    <script src="../assets/js/global.js"></script> -->
    <script type="module" src="../assets/js/admin/thongke.js"></script>
  </body>
</html>
